addict==2.2.1
appdirs==1.4.4
distlib==0.3.1
filelock==3.0.12
importlib-metadata==1.7.0
numpy==1.19.1
pandas==1.0.5
pillow==8.2.0
pyyaml==5.3.1
rasterio==1.1.5
scikit-learn==0.23.2
six==1.15.0
tensorboard==2.4.0
torch==1.7.0
torchvision==0.8.1
zipp==3.1.0
